<div class="card">
    <div class="card__heading">
        <div _ngcontent-kiw-c195="" class="login-header">
            <img _ngcontent-kiw-c195="" alt="logo"
                src="https://crmdevenv.s3.amazonaws.com/Public-Storage/contact_attachments/logo_psd_big-477.blob" />
            <h4 _ngcontent-kiw-c195="">Admin Panel</h4>
        </div>
        <h1>Welcome to Talend Cloud</h1>
    </div>
    <div class="card__content">
        <div class="login-help">
            <h2 class="login-help__title">Login help</h2>
            <p>Enter email used for your user account(s).</p>
            <form class="tf-uiform UIForm-module__uiform___3o9kT login-help__form" novalidate="">
                <div class="UIForm-module__form-content___1hIwS">
                    <div class="form-group FieldTemplate-module__template___1fdfs required" aria-busy="false">
                        <label for="email" class="control-label">Email</label><input id="email" class="form-control"
                            placeholder="email@company.com" type="text" aria-invalid="false" aria-required="true"
                            aria-describedby="email-description email-error" value="" />
                        <div></div>
                    </div>
                </div>
                <div class="recaptcha captcha" data-test="trial.recaptcha">
                    <div class="recaptcha__container">
                        <div style="width: 304px; height: 78px">
                            <div>
                                <iframe title="reCAPTCHA"
                                    src="https://recaptcha.net/recaptcha/api2/anchor?ar=1&amp;k=6LeAsUgUAAAAAGts8YZoXxDewE859_qqGX-5R2A8&amp;co=aHR0cHM6Ly9pYW0udXMuY2xvdWQudGFsZW5kLmNvbTo0NDM.&amp;hl=en&amp;v=khH7Ei3klcvfRI74FvDcfuOo&amp;size=normal&amp;cb=skrt56f6kdd3"
                                    width="304" height="78" role="presentation" name="a-5up4r382o4gr" frameborder="0"
                                    scrolling="no"
                                    sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe>
                            </div>
                            <textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response"
                                style="
                  width: 250px;
                  height: 40px;
                  border: 1px solid rgb(193, 193, 193);
                  margin: 10px 25px;
                  padding: 0px;
                  resize: none;
                  display: none;
                "></textarea>
                        </div>
                        <iframe style="display: none"></iframe>
                    </div>
                </div>
                <div class="UIForm-module__form-actions___1gNry tf-actions-wrapper">
                    <div class="Buttons-module__tf-buttons___H6XZv tf-buttons form-actions">
                        <button disabled="" aria-label="Submit" id="login-help-submit" type="submit"
                            class="btn login-help__submit undefined btn btn-info">
                            <span>Submit</span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="signup-cta" data-test="signup-cta">
                <strong class="signup-cta__text">Don't have an account yet?</strong><button aria-label="Sign up"
                    id="trial-registration-button" type="button" class="btn btn-link">
                    <span>Sign up</span>
                </button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>