/* .login[_ngcontent-kiw-c195] .login-header[_ngcontent-kiw-c195] img[_ngcontent-kiw-c195] {
    width: 308px;
    height: 62px;
    margin-bottom: 50px;
} */

.login-header[_ngcontent-kiw-c195] img[_ngcontent-kiw-c195]{
    width: 308px;
    height: 62px;
    margin-bottom: 50px;
}